/*---------- home ---------- */
.container-home{
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

.row-home{
    display: flex;
    margin-bottom: 3.5%;
}

/*---------- chooselevel ---------- */
.row-chooseLevel{
    display: flex;
    margin-bottom: 1rem;
}

.container-chooseLevel{
    padding-left:1rem;
    margin-bottom: 1rem;
}

.container-chooseLevel1{
    margin-top: 8rem;
    margin-left: 65%;
}

/*---------- home , chooselevel ---------- */
.col{
    padding: 10px;
    width: 100%;
    /* margin-left: 23%;
    margin-right: 20%; */
    text-align: center;
}

/*---------- playingAll ---------- */
.row-playing{
    display: flex;
}

.container-playing-top{
    margin-bottom: 1rem;
}

.container-playing-middle{
    margin-top: 10rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 1rem;
}

.container-playing-bottom{
    margin-top: 10rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 1rem;
    padding: 10px;
}

.col-playing-backBtn{
    padding: 10px;
    width: 33.333%;
    /* margin-left: 23%;
    margin-right: 20%; */
    text-align: left;
}

.col-playing-level{
    padding: 10px;
    width: 33.333%;
    /* margin-left: 23%;
    margin-right: 20%; */
    text-align: center;
}

.col-playing-score{
    padding: 10px;
    width: 100%;
    /* margin-left: 23%;
    /* margin-right: 20%; */ 
    text-align: right;
}

.col-playing-time{
    padding: 10px;
    width: 33.333%;
    /* margin-left: 23%;
    margin-right: 20%; */
    text-align: right;
}

html,body {
    height: 100%;
  }

